@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #009EDB;
    --color-secondary: #0058DB;
    --color-dark: #2E4F5C;
    --color-gray: #999999;
    --color-white: #EDECEC;
    --color-black: #000000;
}

body {
    background: linear-gradient(90deg, #797878, #EDECEC);
    padding: 0 1rem;
}

header,
.app-section,
.frm-section,
footer {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

header {
    padding-top: 0;
    padding-bottom: 0;
}

header img {
    display: block;
    margin: 1rem auto;
    width: 250px;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0;
}

nav a {
    color: var(--color-black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
}

nav > a:hover {
    border-radius: 8px;
    background-color: #99999989;
    text-decoration: underline;
}

header nav a:nth-child(2n-1) {
    text-align: right;
}

.button {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-black);
    border-radius: 8px;
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--color-gray);
}

.app-section {
    padding-right: 0;
    padding-bottom: 16rem;
}

.app-section img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    line-height: 105%;
}

h2 {
    font-size: 2.5rem;
}

.app-section p {
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

.app-section .button {
    position: relative;
}

.app-section .button::after {
    content: '';
    background: url("../img/arrow-curve.svg");
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}

.decoration {
    display: block;
    position: relative;
}

.decoration::after {
    content: '';
    background: url(../img/three-dashes.svg);
    position: absolute;
    top: -0.75rem;
    height: 36px;
    width: 40px;
}

.frm-section {
    padding-bottom: 8rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    margin-top: -8rem;
    margin-bottom: 4rem;
}

.card {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    max-width: 17rem;
    padding: 20px;
}

.card:nth-child(2n) {
    align-self: end;
    background-color: var(--color-secondary);
}

.card strong {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.card a {
    display: block;
    margin: 0 0 0 auto;
    width: fit-content;
}

aside {
    background-color: var(--color-gray);
    min-width: 300px;
    max-width: 1000px;
    padding: 30px 20px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.268);
    text-align: center;
}

aside p {
    font-size: larger;
    font-weight: bold;
    text-indent: 30px;
    text-decoration: none;
    padding-top: 10px;
}

aside > ul {
    text-align: left;
    font-size: larger;
    padding: 30px 0px 0px 20px;
}


/* RODAPÉ */

footer {
    margin-top: 6rem;
    border-bottom: 0;
    padding: 1rem 1.25rem 4rem;
}

footer nav a {
    display: block;
    padding-left: 0;
}

.neweslatter-form label {
    display: block;
    font-size: 1.5rem;
}

.neweslatter-form input {
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    font-size: 1.5rem;
    padding: .5rem;
    width: 100%;
}

footer img {
    width: 250px;
}

.prototipo-resume {
    min-width: 300px;
    max-width: 1000px;
    padding: 30px 20px;
    margin: auto;
    text-align: center;
}

.prototipo-resume p {
    font-size: larger;
    font-weight: bold;
    text-indent: 30px;
    text-decoration: none;
    padding-top: 10px;
}

.prototipo-resume > ul {
    text-align: left;
    font-size: larger;
    padding: 30px 0px 0px 20px;
}

/* UTILITÁRIOS */

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-secondary);
}

.text-secondary {
    background-color: var(--color-primary);
    font-weight: bolder;
    padding: 1px 4px;
}

.text-center {
    text-align: center;
}

/* RESPONSIVIDADE */

@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card:nth-child(2n) {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 48rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img,
    header nav,
    header .button {
        margin: 0;
    }
}

@media screen and (min-width: 80rem) {
    h1, h2 {
        font-size: 4rem;
    }
    
    .container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 72rem;
    }

    .container.row-reverse {
        flex-direction: row-reverse;
    }

    .about-column {
        flex: 2;
    }

    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
    }

    footer nav {
        flex: 1;
    }

    .neweslatter-form {
        flex: 3;
    }
}

@media screen and (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }
}

/* Style JS*/

.prototipo-section {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 700px;
    overflow: hidden;
}

.slides {
    width: 600%;
    height: 900px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 700px;
}

.manual-navigation {
    position: absolute;
    width: 700px;
    margin-top: -275px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--color-white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: var(--color-white);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid ;
}